/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.group:after {
  content: "";
  clear: both;
  display: block;
}

.header{
  width: 100%
  display: flex;
}

.header button{
  float: right;
  vertical-align: center;
}

.auth_form{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 20% auto;
  width: 350px;
  background-color: #9ba1a5;
  padding: 30px;
}

.auth_form button {
  background-color: #0bbed8;
  color: white;
  width: 100%;
  border-radius: 8px;
  height: 40px;
  font-size: 16px;
  margin: 5px 0px;
  order: 1;
}

.auth_form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 3;
}

.auth_form input{
  width: 92%;
  height: 30px;
  font-size: 16px;
  margin: 5px 0px;
  order: 1;
  padding: 10px;
  margin: 5px auto;
}

.auth_form h4{
  text-align: center;
  font-size: 36px;
}

.auth_form h6{
  text-align: center;
  font-size: 20px;
}
