/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */
 *{
   font-family: Avenir;
 }

 body{
   margin: 0;
 }

 ul{
   padding: 0;
   margin: 0 0 20px 0;
 }

 li{
   list-style: none;
 }

 main{
   position: relative;
 }

 h3{
   margin-left: 50px;
 }

.logo div{
  font-family: 'Product Sans', Arial, sans-serif;
  display: flex;
  flex-direction: row;
}

.googled{
  font-weight: bold;
  margin-right: .25em;
}

.sidebar{
  background-color:#fefffc;
  position: fixed;
  height: 100%;
  left: 0;
  z-index: 1;
  width: 300px;
  box-shadow: 3px 0px 3px #c0c4c7;
  overflow: hidden;
  display: none;
}

.sidebar img{
  height: 25px;
  width: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.sidebar section{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #c0c4c7;
  color: gray;
}

.sidebar #sidebar{
  height: 50px;
  width: 50px;
  margin: 0;
}

.sidebar .corner{
  height: 60px;
}

.sidebar .logo{
  display: flex;
  font-size: 20px;
  color: black;
}

.sidebar h6{
  font-size: 14px;
}

.banner{
  position: relative;
  width:100%;
  height:400px;
  vertical-align: center;
  align-items: center;
}

.banner img{
  width:100%;
  height:400px;
}

.banner .logo{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 120px;
  color: white;
  font-size: 60px;
  width: 100%;
}

.banner .sublogo{
  position: absolute;
  text-align: center;
  top: 210px;
  font-size: 20px;
  color: white;
  width: 100%;
}



.images_container{
  background-color: #eeeeee;
  padding-top: 40px;
  margin-top: 0;
}

.images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 80px 0;
  margin: 0;
}

.images img{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 5px;
}

.collections_container{
  padding-top: 20px;
  padding-bottom: 80px;
  margin-top: 0;
  border-bottom: 1px solid gray;
}

.collections{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.collections img{
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin: 5px;
}

.footer{
  background-color: #2b474b;
  height: 400px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}
