.collections{
  padding: 20px 55px 80px 55px;
  margin-top: 0;

  h3{
    font-size: 20px;
    font-weight: normal;
  }

  ul{
    width: 100%;
    box-sizing: border-box;
    margin: 0;

		li{
			width: 250px;
			height: 250px;
      position: relative;
      margin-bottom: 10px;
		}

    img, #new_collection{
			width: 96%;
			height: 96%;
      margin: 2% 4% 2% 0%;
    }

    #new_collection{
      border: none;
      background-color: #ddd;
    }

    span{
      position: absolute;
      bottom: 0px;
      width: 96%;
      margin-right: 4%;
      z-index: 1;
      background-color: #424242;
      height: 60px;
      display: flex;


      div{
        text-align: left;
        font-color: #333;
        margin-left: 15px;
        color: white;
        font-weight: 300;
        position: absolute;
        bottom: 10px;
      }
    }
  }

}
