.collections{
  padding-top: 20px;
  padding-bottom: 80px;
  margin-top: 0;
  border-bottom: 1px solid gray;

  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;

    img{
      height: 200px;
      width: 200px;
      border: 1px solid black;
      margin: 5px;
    }
  }
}
