.favorites{
  &.invisible{
    transform: translateY(-55px);
    transition: transform ease 500ms;

    .collections{
      display: none;
    }
  }

  &.visible{
    transform: translateY(0px);
    transition: transform ease 500ms;

    .collections{
      display: block;
    }
  }

  .collections{
    padding-top: 0;
  }

  #new_collection{
    height: 200px;
    width: 200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(245,245,245);

    h4{
      font-size: 36px;
      font-weight: 300;
      padding: 0;
      margin: 0;
    }

    h6{
      margin: 0;
      padding: 5px;
      color: gray;
      font-weight: 400;
    }
  }

  .images{
    background-color: white;
  }

  .errors{
    width: 100%;
    margin: 0;

    &.invisible{
      display: none;
    }

    li{
      text-align: center;
    }
  }
}
