.search_results{
  position: relative;

  h3{
    font-weight: 300;
  }

  .images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h3{
      width: 50%;
    }

    span{
      display: flex;
      width: 50%;
    }
  }
}
